:root {
  --fore-ground: #EEEEEE;
  --active: #F7AB73;
  --accent: #44CC88;
  --secondary-accent: #5FD299;
  --light: #FFFFFF;
  --dark: #343434;
  --secondary-dark: #747474;
  --stone: #9E9E9E;
  // 'zinc': {
  //   "75": '#F2F2F2'
  // },  
}

$wrapperPadding: 15px;
$baseFontSize: 16px;
$baseFontWeight: 500;
$baseLineHeight: 1;